<div class="jumbotron">
  <h1>POP: Publish or Perish</h1>
  <p>Welcome to a world of awesome</p>
</div>
<div id="sections">
  <div class="media">
    <div class="media-left">
      <a href="#"><span class="glyphicon glyphicon-heart glyphicon-hero" aria-hidden="true"></span></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">We love our students</h4>
      <p>Being a graduate student is tough. Really tough. POP, was created
      by students for students to help make your life just a bit easier</p>
    </div>
  </div>
  <div class="media">
    <div class="media-left">
      <a href="#"><span class="glyphicon glyphicon-search glyphicon-hero" aria-hidden="true"></span></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Make an Impact</h4>
      <p>Our facetted search allows for quick and easy discovery of information on journals. We include searchable data from
      impact factor to methology accepted.</p>
    </div>
  </div>

  <div class="media">
    <div class="media-left">
      <a href="#"><span class="glyphicon glyphicon-star glyphicon-hero" aria-hidden="true"></span></a>
    </div>
    <div class="media-body">
      <h4 class="media-heading">Save your Favorites</h4>
      <p>Have a preferred journal? POP allows you to save it to your favorites list for quick access later.</p>
    </div>
  </div>
</div>
