// Place all the styles related to the Pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.controller-pages {

  #hero-navigation {
    background: #efefef;
    padding:10px 40px;
  }
  .glyphicon-hero {
    font-size: 48px;
  }
  #sections {
    //background: #337ab7;
  }
}
