<%= render '/shared/header' %>
<div id="hero-navigation" class="container-fluid">
  <%= render '/shared/navigation' %>
  <div class="row">
    <%= yield %>
  </div>
</div>

<%= render '/shared/footer' %>
