<%= render '/shared/header' %>
<div id="hero-navigation" class="container-fluid">
  <%= render '/shared/navigation' %>
  <div class="container-fluid">
    <div class="row">
      <%= yield %>
    </div>
  </div>
</div>

<%= render '/shared/footer' %>
